.actions {
  display: flex;
  flex-direction: row;
}

.actions > p {
  margin-left: 20px;
}

.actions > p:hover {
  cursor: pointer;
}

.ashram {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  overflow: hidden;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 25px;
}

fieldset.MuiOutlinedInput-notchedOutline {
  box-shadow: none !important;
}

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  visibility: hidden;
  z-index: 9999;
}

.box-container:hover .delete-icon {
  visibility: visible;
  z-index: 9999;
}
